In [6]:
#importamos librerioas requeridas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Carga desde un archivo .xlsx sin indice
df= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx')
df

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12F1040A00,"CAS INOX 1/2""ØX3"" 400W 127V EXT.30CM",712.00,102.31,102.31,4272.00,613.88,609.69,3658.12
1422,F39834,2022-12-23,LETICIA RAMIREZ HERNANDEZ,LUIS ENRIQUE PATIÑO PEREZ,6,CS12H1050A00,"CAS INOX 1/2""ØX4"" 500W 127V EXT30CM",718.60,104.69,104.69,4311.60,628.12,613.91,3683.48
1423,F39835,2022-12-23,LETICIA RAMIREZ HERNANDEZ,SEVEN DAYS ALL SPORT,3,TUE00394,"TUB INOX 5/16""ØX300MM 5300W 220V ""M"" ESP",2182.35,0.00,596.55,6547.05,1789.64,1585.80,4757.41
1424,F39837,2022-12-23,LETICIA RAMIREZ HERNANDEZ,REVUELTA MONTECARLO,1,TUA00470,"TUB INOX 1/2""ØX500MM 10KW 220V 2 1/2""NPT",5909.84,1884.35,1884.35,5909.84,1884.35,4025.49,4025.49
1425,F39838,2022-12-23,AARON NUÑO CORDOVA,CPEG SOLUTIONS,10,RB00007,FAB BOBINA DSD1 6 COLOCAR B/NUEVA 488V,1406.00,0.00,80.66,14060.00,806.55,1325.34,13253.45

In [8]:
#Verificamos información del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 156.1+ KB

In [63]:
#Filtro por objeto
filtro1=df[(df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro1

#Convertir archivo filtrado a CSV
filtro1.to_csv("Filtro por objeto.csv")

#filtra en la columna nombre_vendedor, el nombre de leticia ramirez

In [73]:
#Filtro por fila 
filtro2= df.iloc[3:10,: ] 
filtro2

#Convertir archivo filtrado a CSV
filtro2.to_csv("Filtro por fila .csv")

#hace un filtro que solo muestra de la fila 3 a la fila 9 (la primera son los indices)

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41
5,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00243,BAN P INOX 55MMX235MM 450W 127V T/TOR,237.07,49.41,49.41,474.14,98.82,187.66,375.32
6,F37044,2022-01-05,DIEGO ARMANDO LEON DURAN,AIRBUS HELICOPTERS MEXICO QUERETARO,1,RP00165,REPARACION DE BATIDOR 16.6KW 440V,14000.00,5323.76,5323.76,14000.00,5323.76,8676.24,8676.24
7,F37046,2022-01-05,LETICIA RAMIREZ HERNANDEZ,ANA BARBARA CRUZ PALACIOS,3,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,94.50,38.96,38.96,283.50,116.88,55.54,166.62
8,F37048,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11
9,F37049,2022-01-05,DIEGO ARMANDO LEON DURAN,FIDEICOMISO F/1596,1,TUE00207,"TUB INCOLOY 1/2""Øx412mm J 9KW 240V PLACA",1615.00,517.89,517.89,1615.00,517.89,1097.11,1097.11

In [65]:
#Filtro por columna 
filtro3=df.iloc[ : , 1:5]  
filtro3

#Convertir archivo filtrado a CSV
filtro3.to_csv("Filtro3 por columna .csv")

#filtra de la columna 1 a la 5

In [74]:
df1= pd.read_excel('Detalle precios y productos fabricados 2022.xlsx', index_col=2)
df1

#Aplicamos filtro de filas vs columnas
filtro4=df1.loc[["ALFREDO CANELA","LETICIA RAMIREZ HERNANDEZ"], ["NOMBRE_CLIENTE"]]
filtro4

#Convertir archivo filtrado a CSV
filtro4.to_csv("filtro de filas vs columnas.csv")

#muestra solamente en donde el campo nombre vendedor sea alfredo canela o leticia ramirez y muestra el campo del vendedor y campo del cliente

                                      NOMBRE_CLIENTE
NOMBRE_VENDEDOR
ALFREDO CANELA                              ELICAMEX
ALFREDO CANELA                              ELICAMEX
ALFREDO CANELA                              ELICAMEX
ALFREDO CANELA                 CLAVOS NACIONALES C.N
ALFREDO CANELA             PEDRO ANTONIO SOTO IBARRA
...                                              ...
LETICIA RAMIREZ HERNANDEZ                     TORJJS
LETICIA RAMIREZ HERNANDEZ  LUIS ENRIQUE PATIÑO PEREZ
LETICIA RAMIREZ HERNANDEZ  LUIS ENRIQUE PATIÑO PEREZ
LETICIA RAMIREZ HERNANDEZ       SEVEN DAYS ALL SPORT
LETICIA RAMIREZ HERNANDEZ        REVUELTA MONTECARLO

[1230 rows x 1 columns]

In [75]:
#filtro por cabecera
filtro5=df.head()
filtro5

#Convertir archivo filtrado a CSV
filtro5.to_csv("filtro por cabecera.csv")

#Filtra y muestra las primeras 5 filas

,CVE_DOC,FECHA_DOC,NOMBRE_VENDEDOR,NOMBRE_CLIENTE,CANT,CVE_ART,DESCR,PRECIO_UNITARIO,COSTO_UNITARIO,COSTO_UNITARIO_CALCULADO,SUBTOTAL_PARTIDA,COSTO_TOTAL_CALCULADO,MARGEN_UNITARIO_CALCULADO,MARGEN_TOTAL_CALCULADO
0,F37034,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,1,TUE00244,"TUB COBRE 5/16""ØX165MM CIRCULA1.5KW127V",434.48,52.80,52.80,434.48,52.80,381.68,381.68
1,F37036,2022-01-05,LETICIA RAMIREZ HERNANDEZ,JUAN ANTONIO RESENDIZ UGALDE,1,TUA00028,"TUA U"" 5/16 ØX250MM 1200W 120V TAP1""NPT",1264.05,327.18,327.18,1264.05,327.18,936.87,936.87
2,F37041,2022-01-05,DIEGO ARMANDO LEON DURAN,ANA BARBARA CRUZ PALACIOS,7,TP0007,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 7 MT,551.61,177.68,177.68,3861.29,1243.73,373.94,2617.56
3,F37042,2022-01-05,DIEGO ARMANDO LEON DURAN,OMAR RODRIGUEZ GOMEZ,1,TP0001,TERMOPAR J 3/16 Ø X 1' 1/2 EXT. 1 MT,140.00,38.96,38.96,140.00,38.96,101.04,101.04
4,F37043,2022-01-05,LETICIA RAMIREZ HERNANDEZ,PÚBLICO EN GENERAL,2,BP00242,BAN P INOX 115MMX235MM 1000W 127V T/TOR,172.41,101.71,101.71,344.83,203.42,70.71,141.41

In [68]:
#Filtro por cola
filtro6=df.tail()
filtro6

#Convertir archivo filtrado a CSV
filtro6.to_csv("Filtro por cola.csv")

#muestra las ultimas 5 filas

In [ ]:
#Filtro por comparacion
filtro7=df[df["COSTO_TOTAL_CALCULADO"] > 1000]
filtro7

#Convertir archivo filtrado a CSV
filtro7.to_csv("Filtro por comparacion.csv")

#filtra las filas donde la columna COSTO_TOTAL_CALCULADO sea mayor a 1000

In [70]:
#Filtro Y
filtro8=df[(df["COSTO_TOTAL_CALCULADO"] < 1000) & (df["FECHA_DOC"] == "2022-01-05")]
filtro8

#Convertir archivo filtrado a CSV
filtro8.to_csv("Filtro Y.csv")

#filtra los valores columna COSTO_TOTAL_CALCULADO donde sea menor a 1000 y la columna FECHA_DOC sea igual a "2022-01-05"

In [71]:
#Filtro o
filtro9=df[(df["COSTO_TOTAL_CALCULADO"] < 1000) | (df["FECHA_DOC"] == "2022-10-01")]
filtro9

#Convertir archivo filtrado a CSV
filtro9.to_csv("Filtro o.csv")

#filtra los valores columna COSTO_TOTAL_CALCULADO donde sea menor a 1000 o la columna FECHA_DOC sea igual a "2022-10-01"

In [72]:
#Filtro not
filtro10=df[~(df["NOMBRE_VENDEDOR"] == "LETICIA RAMIREZ HERNANDEZ")]
filtro10

#Convertir archivo filtrado a CSV
filtro10.to_csv("Filtro not.csv")

#filtran los valores donde la columna NOMBRE_VENDEDOR no sea igual a LETICIA RAMIREZ HERNANDEZ